<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Robot pose -->

  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find project)/launch/robot_rviz_config.rviz" required="true"/> -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find project)/worlds/simple_scene.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <group ns="robot1">
       <arg name="x" default="0"/>
      <arg name="y" default="0"/>
      <arg name="z" default="-0.96"/>
      <param name="robot_description" command="xacro '$(find project)/models/diff_drive_robot/urdf/diff_drive_robot.xacro'"/>
      <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>

      <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
        <param name="publish_frequency" type="double" value="40.0" />
      </node>

      <rosparam file="$(find project)/config/diff_control.yaml" command="load"/>
      <node name="diff_drive_robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
       args="-urdf -param robot_description -model diff_drive_robot -x $(arg x) -y $(arg y) -z $(arg z)" respawn="false"/>

      <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" args="left_wheel_joint right_wheel_joint joint_state_controller --timeout 60"/>

      <node name="move_node" pkg="project" type="move.py" output="screen"/>
  </group>



</launch>